* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
  text-align: center;

  background-color: #141414;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  margin: 24px 48px 0;
}

.container {
  text-align: center;
  padding: 20px 0 0;
}

.page-title {
  color: #e86332;
  margin: 0 0 5px;
  font-size: 35px;

  text-shadow: 1px 1px rgb(255, 255, 255);
}

.alura-logo {
  width: 100px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.content-container {
  margin: auto;
  padding: 0 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.image-container {
  flex: 1 0 16%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  justify-items: center;

  float: left;
  flex-direction: column;
  width: min-content;
  margin: 12px;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
}

img {
  max-width: 160px;
  max-height: 240px;
  box-shadow: 3px 3px 3px #e86332;
  border-radius: 4px;
  margin: 8px 0;
  transition: all 0.2s ease-in-out;
}

.image-container:hover {
  transform: scale(1.2);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border-radius: 8px;
}

.image-name {
  transition: all 0.2s ease-in-out;
}

.image-container:hover ~ .image-name {
  transform: translateY(24px);
}

